body {
  position: relative;
  font-family: Tahoma;
}
.flex {
  display: flex;
}
.wrapper {
  max-width: 980px;
  padding: 25px 10px;
  margin: auto;
  border-radius: 5px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sellers_account,
.customers_account {
  width: 450px;
  padding: 25px 10px;
  background-color: rgb(114, 109, 109, 0.5);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.wrapper div h1 {
  margin: 0px;
}
.body {
  max-width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
  border-radius: 5px;
}
.block,
.unblock,
.logout {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
}
.block {
  background-color: rgb(255, 0, 0);
}
.block:hover {
  background-color: rgb(139, 0, 0);
}
.unblock {
  background-color: rgb(0, 0, 255);
}
.unblock:hover {
  background-color: rgb(0, 0, 139);
}
.logout {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 25px;
  padding: 5px;
}
.logout:hover {
  background-color: rgb(255, 0, 0);
}